<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>svg-vldt</title>
  </head>
  <body>
    <form class="color-search" method="post">
      <label for="svg">Input: </label>
      <input id="svg" name="svg" required="required" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
